* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
Body {
    height: 100vh;
    background: url(bg4.jpg) no repeat center center/cover;
    padding: 50px 5%;
}
.container {
  position: relative;
  height: 100%;
  background : rgba(2555, 255, 255, 0.1);
  border: rgba(255, 255, 255, 02);
  border-radius: 30px;
  backdrop-filter: blur(25px);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 5%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 100;
}
.Logo{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}
.navbar-nav {
    text-decoration: none;
    font-size: 10px;
    color: #fff;
    margin-left: 40px;
    font-weight: 500;
    border-bottom: 2px solid #ffffff00;
    transition: all;
    transition-duration: 30ms;
}
.navbar-nav a:hover, .navbar-nav .active {
    border-bottom: 2px solid #fff;
}
.home {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 50px 5% 0;
    gap: 50px;
    color: #fff;
}
.home-detail h1 {
    font-size: 55px;
    line-height: 1;
}
.home-detail h1 span {
    color: #771072;
}
.home-detail h2 {
    font-size: 12px;
}
.home-detail p {
    margin: 10px 0 20px;
}
.home-detail .download-social {
    display:flex;
    align-items: center;
}
.btn {
    display: inline-block;
    padding: 10px 30px;
    background:#fff ;
    border: 2px solid #fff;
    border-radius: 45px;
    box-shadow: 0 0 10px #fff;
    color: #333;
    text-decoration: none;
    font-weight: 500;
}
.btn:hover {
    background: transparent;
    text-decoration: underline;
    color: #fff;
}
.home-detail .social-icons {
    margin-left: 20px;
}
.home-detail .social-icons a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin: 0 8 px;
}
.home-detail .social-icons a:hover {
    text-decoration: underline;
    background: #fff;
    box-shadow: 0 0 10px #fff;
    color: #333;
}
.home-img .img-box {
    position: relative;
    width: 20vw;
    height: 28vw;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff;
    overflow: hidden;
}
.home-img .img-box img {
    position: absolute;
    top: 10px;
    display: block;
    object-fit: cover;
    width: 100%;  
}